{% extends 'base.html.twig' %}

{% block title %}Gestion des photos de chats{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <ul>
        {% for d in dossier %}
            <li> <a href="{{ path("app_liste_chat",{"NomDuDossier": d.fileName }) }}"> {{ d.fileName }}</a> </li>
        {%endfor%}
    </ul>
{% endblock %}
