{% extends 'base.html.twig' %}

{% block title %}Chatons du dossier {{ nom_dossier }}{% endblock %}

{% block body %}
    <h1>Chatons du dossier {{ nom_dossier }}</h1>

    <ul>
        <div class="row">
            {% for d in photos %}
                {% include "home/_chaton.html.twig" %} {# On inclut le template partiel _chaton.html.twig #}
            {% endfor %}
        </div>
    </ul>
    <h2>Ajouter une photo</h2>
    {{ form(formulaire)}}
    <h2>Supprimer une photo</h2>
    {{ form(removeForm)}}
{% endblock %}